pandas==1.0.3
bokeh==2.0.0
pandas-bokeh==0.4.2
GitPython==3.1.0
scikit-learn==0.22.2
xlsxwriter==1.2.1
xlrd==1.2.0
geopandas==0.9.0
matplotlib==3.3.4
streamlit==0.79.0
pytz~=2019.2
numpy~=1.19.5
sklearn~=0.0
altair~=4.1.0