<!doctype html>

<html lang="en" id="all">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{ resources }}
    <title>Dashbord covid</title>
    <script>
        var dash_options;

        function get_options() {
            $.getJSON('dash_options', function (d) {
                dash_options = d;
                for (let state in dash_options) {
                    let x = document.getElementById("country");
                    let option = document.createElement("option");
                    option.text = state;
                    option.value = state;
                    x.add(option);
                }
            });
        }
    </script>
    <script>
        function select_type() {
            var e;
            e = document.getElementById("country");
            var country = e.options[e.selectedIndex].value;
            e = document.getElementById("region");
            var region = e.options[e.selectedIndex].value;
            e = document.getElementById("type");
            var type = e.options[e.selectedIndex].value;
            if (country !== "" && region !== "" && type !== "") {
                document.getElementById("myplot").innerHTML = "";
                fetch('/' + country + '/' + region + '/' + type)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (item) {
                        Bokeh.embed.embed_item(item, "myplot");
                    })
            }
        }

        function select_state() {

            document.getElementById("region").innerHTML="";
            let e = document.getElementById("country");
            let country = e.options[e.selectedIndex].value;
            for (let state in dash_options[country]) {
                let x = document.getElementById("region");
                let option = document.createElement("option");
                option.text = state;
                option.value = state;
                x.add(option);
            }
        }

        function select_region() {
            document.getElementById("type").innerHTML="";
            let e = document.getElementById("country");
            let country = e.options[e.selectedIndex].value;
            e = document.getElementById("region");
            let region = e.options[e.selectedIndex].value;
            for (let state in dash_options[country][region]) {
                let x = document.getElementById("type");
                let option = document.createElement("option");
                option.text = dash_options[country][region][state];
                option.value = dash_options[country][region][state];
                x.add(option);
            }
        }
    </script>

</head>


<body onload="get_options()">
<label for="country"></label><select id="country" onchange="select_state()">
    <option value="">select country</option>
</select>

<label for="region"></label><select id="region" onchange="select_region()">

</select>

<label for="type"></label><select id="type" onchange="select_type()">

</select>

<div id="myplot"></div>

<script>

</script>

</body>
</html>
